<title>Scald End Farm</title>
  <div class="home-banner">
  <h1>Scald End Farm</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      The Towler family started selling fresh produce from a stall on the side of the road 70 years ago.
      Today the farm has diversified into a working organic farm, not only do we still sell fruit and veg but today
      the farm boasts a tea room, farm shop, self catering accomdation and an event space.
      The Towlers are still passionate about good food and farming, so why not come and visit today!

    </div>
  </div>
</div>
